@font-face {
  font-family: Roboto;
  src:
    url(./Roboto-Regular.ttf) format('ttf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url(./Roboto-Bold.ttf) format('woff2');
  font-weight: bold;
  font-display: swap;
}
